{% extends "base.html" %}

{% block content %}

<section class="hero">

    <div class="hero-left">

        <h1>
            SplitBills
        </h1>

        <p>
            Track expenses,
            split bills,
            settle smarter.
        </p>

        <div class="hero-buttons">

            <a href="/register"
               class="btn-primary">
                Get Started
            </a>

            <a href="/login"
               class="btn-secondary">
                Login
            </a>

        </div>

    </div>

    <div class="hero-right">

        <img src="https://cdn-icons-png.flaticon.com/512/891/891419.png">

    </div>

</section>

{% endblock %}